<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All jobs</title>
</head>
<body>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Click on any post to see details and applications</h1>

    {% for job in jobs %}
        <h2><a href="{% url 'applications_for_job' job.id %}">{{ job.title }} ({{ job.published_at }})</a></h2>
    {% endfor %}
</body>
</html>