<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Details</title>
</head>
<body>
    <h1>{{ application.job.title }} ({{ application.job.company }})</h1>

    <ul>
        {% for skill in application.job.skills_required.all %}
            <li>{{ skill }}</li>
        {% empty %}
            <li>No required skills for this job</li>
        {% endfor %}
    </ul>

    <p><b>Job Salary:</b> {{ application.job.salary }}</p>
    <p><b>Job description:</b> {{ application.job.description }}</p>

    <p><b>Proposed Salary:</b> {{ application.expected_salary }}</p>
    <h1>Cover Letter:</h1>
    <p>{{ application.cover_letter }}</p>
</body>
</html>