{% extends "recruiter/base.html" %}

{% block title %} Applications {% endblock %}

{% block content %}

{% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>{{ job.title }}  ({{ job.published_at }})</h1>
    <p>{{ job.description }}</p>
    <p>{{ job.salary }}</p>
    <h3>Skills Required</h3>
    <ul>
        {% for skill in job.skills_required.all %}
            <li>{{ skill.name }}</li>  <!-- Assuming Skill has a 'name' field -->
        {% empty %}
            <li>No skills listed for this position</li>
        
        {% endfor %}
    </ul>


<h1>Applications received for Job:</h1>

{% if accepted_application %}
    <h2>Application accepted for this job:</h2>
    <h2>
        <a href="{% url 'application_detail' accepted_application.pk %}">
            {{ accepted_application.applicant.user.get_full_name }} 
            ({{ accepted_application.applicant.experience_years }} years of experience)
        </a>
    </h2>
{% else %}
    {# Show all applications since no accepted one exists #}
    {% for application in applications %}
        <h2>
            <a href="{% url 'application_detail' application.pk %}">
                {{ application.applicant.user.get_full_name }} 
                ({{ application.applicant.experience_years }} years of experience)
            </a>
        </h2>
    {% endfor %}
{% endif %}

{% endblock %}
