{% extends "recruiter/base.html" %}

{% block title %} Job Portal {% endblock %}

{% block style %}
<style>
button{
            padding: 10px;
        }

        b{
            display: block;
            margin: 5px;
        }
</style>
{% endblock %}

{% block content %}

{% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    
        <h2>welcome {{ user.first_name }}, you are a representative {% if user.representative_profile.company %} of {{user.representative_profile.company}} {% endif %}</h2>

        {% if user.representative_profile and not user.representative_profile.company %}
            <p><a href="{% url 'company_creation' %}">create company</a></p>
        {% endif %}

        <a href="{% url 'add_job' %}"><button>Add a new job</button></a>
        <a href="{% url 'add_project' %}"><button>Add a new project</button></a>
        <a href="{% url 'all_jobs_created' %}"><button>All Jobs created</button></a>

        <h1>All currently active jobs by you:</h1>
        {% for job in jobs %}
            <h2><a href="{% url 'applications_for_job' job.id %}">{{ job.title }} ({{ job.published_at }})</a></h2>
        {% endfor %}

        <h1>All currently active projects by you:</h1>
        {% for project in projects %}
            <h2><a href="#">{{ project.title }} ({{ project.published_at }})</a></h2>
        {% endfor %}

{% endblock %}
