{% extends "recruiter/base.html" %}

{% block title %} Job Detail {% endblock %}

{% block style %}
<style>
button{
            padding: 5px;
            margin: 10px;
        }
</style>
{% endblock %}

{% block content %}

<h1>{{ job.title }}</h1>
<p><strong>{{ job.published_at|date:"F j, Y" }}</strong></p>  <!-- Changed from post_date -->
<p>{{ job.description }}</p>

<h3>Skills Required</h3>
<ul>
    {% for skill in job.skills_required.all %}
        <li>{{ skill.name }}</li>  <!-- Assuming Skill has a 'name' field -->
    {% empty %}
        <li>No skills listed for this position</li>
    
    {% endfor %}

    <a href="{% url 'job_application' job.id %}"><button>Apply for job</button></a>
</ul>

{% endblock %}
