{% extends "recruiter/base.html" %}

{% block title %} login {% endblock %}

{% block style %}
<style>
#submit{
            padding: 10px;
        }
</style>
{% endblock %}

{% block content %}

<form action="{% url 'login' %}" method="post">
         {% csrf_token %}

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

        <div>
            <label for="username"> Enter your Username: 
                <input type="text" id="username" name="username" >
            </label>
        </div>
        

        <label for="password"> Enter your Password:
            <input type="password" name="password" id="password">
        </label>

        <input type="submit" value="login" id="submit">
        <p>Not registered? <a href="{% url 'sign_up' %}">sign_up</a></p>
    </form>

{% endblock %}
