<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            margin: 15px;
        }
    </style>
</head>
<body>
    <!-- signup.html -->
<form method="post">
    {% csrf_token %}

    {{ form.errors }}
    
    {# All fields from CustomUser are available #}
    
    <div>
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    
    <div>
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>

    <div>
        {{ form.password1.label_tag }}
        {{ form.password1 }}
    </div>

    <div>
        {{ form.password2.label_tag }}
        {{ form.password2 }}
    </div>

    <div>
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
    </div>
    
    <div>
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
    </div>

    <div>
        {{ form.user_type.label_tag }}
        {{ form.user_type }}
    </div>

    <div>
        {{ form.profile_picture.label_tag }}
        {{ form.profile_picture }}
    </div>

    
    <button type="submit">Sign Up</button>
    <p>Already registered? <a href="{% url 'login' %}">login</a></p>
</form>
</body>
</html>
